.big-card {
    background-color: var(--back);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;
    padding: 0 0 5rem 0;
}

.big-card .container-image {
    background: url(../assets/holiday.jpg) no-repeat 50% 50%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-card .container-image img {
    border: 2px var(--orange) solid;
    border-radius: 25px;
    box-shadow: -5px 5px 7px black;
}

.big-card .gender-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 0.25rem;
}

.big-card .gender-user img {
    height: 20px;
    border-radius: none;
    border: none;
    box-shadow: none;
    overflow: hidden;
}

.big-card .heart {
    width: 25px;
    height: 25px;
}

.big-card .notFavorite .heart {
    width: 25px;
    height: 25px;
    color: rgb(255, 255, 255);
}

.big-card .isFavorite .heart {
    width: 25px;
    height: 25px;
    color: rgb(255, 50, 50);
}

.container-info h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--green);
}

.container-info p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    color: var(--textcolor);
}

/* --- */

.big-card .container-conversation {
    border: 3px var(--orange) solid;
    box-shadow: 0px 0px 15px black;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 500px;
    width: calc(100% - 10rem);
    max-width: 1500px;
}

.big-card .start-conversation {
    background-color: var(--orange);
    width: 100%;
    border-bottom: 2px gray solid;
    padding: 0.5rem 0;
}

/* --- */

.big-card .full-conversation {
    background-color: var(--backgray);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.big-card .message {
    border: 1px lightgray solid;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 1rem;
    max-width: 70%;
    overflow-wrap: break-word;
}

.big-card .left-conv {
    align-self: flex-start;
    background-color: rgb(211, 211, 211);
    border: 2px var(--green) solid;
}

.big-card .right-conv {
    align-self: flex-end;
    background-color: var(--green);
    border: 2px lightgray solid;
}

/* --- */

.big-card .bas-conversation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.25rem 0;
    background-color: var(--orange);
    border-top: 2px gray solid;
}

.big-card .bas-gauche,
.big-card .bas-droite {
    position: relative;
}

.big-card .bas-gauche button,
.big-card .bas-droite button {
    margin: 0 1rem;
    padding: 0.25rem 0.5rem;
    position: relative;
}

.big-card .fichier {
    position: absolute;
    left: 20px;
    bottom: 50px;
    height: 150px;
    width: 150px;
    border: var(--orange) 2px solid;
    background-color: lightgray;
}

.big-card .emote {
    position: absolute;
    right: 220px;
    bottom: 320px;
    height: 150px;
    width: 150px;
    background-color: lightgray;
    overflow: visible;
}

.big-card .container-new-message {
    border: 1px gray solid;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
}

.big-card .container-new-message textarea {
    padding: 0.25rem 0.5rem;
    resize: none;
    width: 100%;
    line-height: 1.2;
    height: 100%;
}

.big-card textarea:focus {
    outline: none;
}

.big-card .container-new-message button {
    padding: 0.25rem;
    border-left: 1px gray solid;
}
