.bandeauImage .headerTitre {
    text-align: center;
    font-size: clamp(2rem, 8vw, 4rem);
    color: whitesmoke;
    text-shadow: 2px 2px 0 #212121;
    padding-top: 14vh;
}

.bandeauImage {
    /* position: absolute; */
    width: 100%;
    height: 35vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../assets/camera.jpg") center/cover no-repeat;

}

.profil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px;
}


.ageFilter {
    position: relative;
    width: 95vmin;
    background-color: #ffffff;
    padding: 50px 40px 20px 40px;
    border-radius: 10px;
}

.filtersContainer {
    margin: 10px 15vh;
    display: flex;
    padding: 8px;
    gap: 30px;
    justify-content: space-around;
}

.genderFilter,
.ageFilter,
.countryFilter {
    padding: 0 8px;
    width: 10vw;
}

.filtersContainer h4 {
    padding: 0 4px 4px;
    font-size: 1.2rem;
}

.filtersContainer h2 {
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {

    .profil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 25px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
    }
}