.homePage .bandeauImage .headerTitre {
    text-align: center;
    font-size: clamp(2rem, 8vw, 4rem);
    color: white;
    text-shadow: 2px 2px 0 #212121;
    padding-top: 14vh;
}

.homePage .bandeauImage {
    /* position: absolute; */
    width: 100%;
    height: 35vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../assets/camera.jpg") center/cover no-repeat;

}

.homePage .profil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px;
}

.homePage .filtersContainer {
    margin: 10px 5vw;
    width: 90vw;
    display: flex;
    padding: 8px;
    gap: 5vw;
    justify-content: space-around;
}

.homePage .genderFilter,
.homePage .ageFilter,
.homePage .countryFilter {
    padding: 0 8px;
    width: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.homePage .filtersContainer select {
    background-color: var(--orange);
    width: 15vw;
    box-shadow: 2px 2px 0 #212121;

}

.homePage .filtersContainer option {
    background-color: #ffdeca;
}

.homePage .filtersContainer option:checked {
    appearance: none;
    background: var(--orange);
    color: white;
}

.homePage .filtersContainer option:hover {
    appearance: none;
    background: var(--orange);
    color: white;
}

.homePage .filtersContainer h4 {
    padding: 8px 4px 4px;
    font-size: 1rem;
}

.homePage .filtersContainer h2 {
    font-size: 1.2rem;
    padding-top: 8px;
}

@media screen and (max-width: 600px) {

    .homePage .profil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 25px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30%;
    }

}