.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.navbar .navbarContainer {
    width: 95%;
    padding: 0.5rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbarContainer .title {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.navbar .title .logo {
    height: 100%;
}

.navbar .navbarContainer .navbarInner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbarInner .buttons {
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .buttons a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--green);
    border: 1px solid transparent;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.navbar .buttons a:hover {
    background-color: transparent;
    border: 1px solid var(--green);
}

.navbar .buttons button {
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--front);
    background-color: var(--back);
}
