.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 192, 144, 0.3);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.navbar .navbarContainer {
    width: 95%;
    padding: 0.5rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarContainer .title {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.title a {
    height: 100%;
}

.title a .logo {
    height: 100%;
}

.navbarContainer .navbarInner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarInner .buttons{
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--green);
    border: 1px solid transparent;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.buttons a:hover {
    background-color: transparent;
    border: 1px solid var(--green);
}

.buttons button {
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
